# =========================
# Python / Django
# =========================

# Virtual environments
backend/venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3

# Environment variables / secrets
.env
*.env
!.env.example

# =========================
# Node.js
# =========================

node_modules/
frontend/node_modules/

# Build files
dist/
build/